.flexible{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-content-space-around{
    justify-content: space-around;
}

.justify-content-space-evenly{
    justify-content: space-evenly;
}

.justify-content-space-between{
    justify-content: space-between;
}
